@charset "UTF-8";

:root {
    --azul-escuro: #103042;
    --azul-meio-escuro: #1f5677;
    --cinza-claro: #ebebeb;
    --azul-claro: #238ac6;
    --fonte-tituloh2: clamp(3em, 4vw, 4em);
    --fonte-tituloh3: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--azul-escuro);
    position: sticky;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    color: var(--cinza-claro);
    z-index: 5;
    top: 0;

    #nome {
        font-family: 'Times New Roman', Times, serif;
        font-size: clamp(1.5em, 4vw ,1.8em);
        font-weight: bold;
        padding-left: 15px;
    }

    nav {
        grid-column: 3;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        a {
            text-decoration: none;
            color: var(--cinza-claro);
            p {
                background-color: var(--azul-escuro);
                font-size: 1.2em;
                padding: 25px clamp(15px, 1.8vw, 25px);
            }
        }
        #menuIcone {
            font-size: 2em;
            padding: 20px;
            display: none;
            cursor: pointer;
        }
    } 
} /*Fim do menu*/

header > nav > ul > li > a > p:hover {
    background-color: var(--azul-meio-escuro);
}


#inicio-container {
    background: url(../images/fundo-inicio.jpg) center center;
    background-size: cover;
    max-width: 100vw;
    min-height: 95vh;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr auto 1fr;
}

#conteudo-inicio {
    grid-column: 2;
    display: grid;
    grid-template-columns: 360px 350px;
    justify-content: center;
    align-items: center;
    gap: 40px;

    #texto-inicio {
        background-color: var(--azul-claro);
        padding: 30px;
        border: 3px solid white;
        max-width: 360px;
        
        h2 {
            grid-column: 1;
            font-size: clamp(1.8em, 3vw, 2.6em);
            margin-bottom: 10px;
            color: var(--cinza-claro);

            span {
                font-family: 'Times New Roman', Times, serif;
                font-size: clamp(1.5em, 4vw, 3em);
                color: var(--azul-escuro);
            }
        }
        p {
            color: var(--azul-escuro);
            font-family: 'Times New Roman', Times, serif;
            font-size: clamp(1em, 1vw, 1.2em);
            font-weight: bold;
        }
    }

    picture {
        img {
            grid-column: 2;
            max-height: 350px;
            animation: saltar 5s ease-in-out infinite;
        }
    }
}

@keyframes saltar {
    0%   { transform: translate(0, 0); }

    4%  { transform: translate(15px, -20px); }
    8%  { transform: translate(30px, 0); }
    12%  { transform: translate(30px, 0); }

    16%  { transform: translate(45px, -20px); }
    20%  { transform: translate(60px, 0); }
    24%  { transform: translate(60px, 0); }

    28%  { transform: translate(75px, -20px); }
    32%  { transform: translate(90px, 0); }
    36%  { transform: translate(90px, 0); }

    40%  { transform: translate(105px, -20px); }
    44% { transform: translate(120px, 0);}
    48% { transform: translate(120px, 0);}

    52% { transform: translate(105px, -20px); }
    56% { transform: translate(90px, 0)}
    60% { transform: translate(90px, 0)}

    64% { transform: translate(75px, -20px);}
    68% { transform: translate(60px, 0);}
    72% { transform: translate(60px, 0);}

    76% { transform: translate(45px, -20px);}
    80% { transform: translate(30px, 0);}
    84% { transform: translate(30px, 0);}

    88% { transform: translate(15px, -20px);}
    92% { transform: translate(0, 0);}
    100% { transform: translate(0, 0);}
}

#conteudo-container h2 {
    position: absolute;
    margin-top: -37px;
    color: var(--azul-escuro);
    font-size: var(--fonte-tituloh2);
    text-shadow: 0px -1px 2px var(--azul-escuro);
}

#projetos, #contatos {
    display: grid;
    grid-template-columns: 1fr 70vw 1fr;
}

#title-sobre-mim {
    width: 70vw;
    height: 4em;
    margin: auto;
}

#sobre-mim {
    display: grid;
    grid-template-columns: 1fr 70vw 1fr;
    #inicio-sobre-mim {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        #stacks-sobre-mim {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .stacks-item {
                h4 {
                    color: var(--azul-escuro);
                    margin-bottom: 15px;
                    font-size: 1.6em;
                }
                .stacks-tags {
                    display: flex;
                    flex-flow: row wrap;
                    gap: 12px;
                    p {
                        padding: 10px;
                        border: 2px solid var(--azul-escuro);
                        border-radius: 8px;
                        color: var(--azul-escuro);
                    }
                }
            }
        } /* Fim div#stacks-sobre-mim */
        #info-sobre-mim {
            background-color: var(--azul-escuro);
            color: var(--cinza-claro);
            border-radius: 50% 0 0 50%;
            display: grid;
            align-content: center;
            text-align: end;
            padding-left: 50px;
            max-width: 500px;
            margin-top: -4em;
            h3 {
                font-size: clamp(2em, 3.5vw, 2.8em);
            }
            p {
                margin: 20px 0;
                font-size: clamp(1em, 2vw, 1.2em);
            }
            #icones-sociais {
                font-size: 3em;
                display: flex;
                justify-content: right;
                gap: 20px;
                a {
                    color: var(--cinza-claro);
                }
            }
        } /* Fim div#info-sobre-mim*/
    }
}

article#sobre-mim > div#fundo-azul {
    background-color: var(--azul-escuro);
    columns: 3;
    margin-left: -1px;
    margin-top: -4em;
    z-index: -1;
}

div.linha {
    grid-column: 2;
    width: 100%;
    height: 2px;
    background-color: var(--azul-escuro);
    border-radius: 1px;
    margin: 90px 0px;
}

article#sobre-mim > div#cards-container {
    grid-column: 2;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    text-align: center;
    margin-bottom: 150px;
    .card {
        justify-content: space-between;
        background-color: var(--azul-escuro);
        color: var(--cinza-claro);
        padding: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.350);
        border-radius: 8px;
        flex: 1 1 300px;
        
        i {
            font-size: 5em;
        }
        h4 {
            padding: 20px 0px;
            font-size: 1.3em;
        }
        p {
            font-size: 1em;
        }
    }
}

#projetos {
    background-color: var(--azul-claro);
    #conteudo-projetos {
        grid-column: 2;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 20px;
        margin-top: 70px;
        h2 {
            margin-top: -110px;
        }

        .projeto-info {
            background-color: var(--azul-escuro);
            flex: 1 0 340px;
            padding: 20px;
            border-radius: 8px;
            color: var(--cinza-claro);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.350);
            img {
                width: 100%;
            }

            .descricao-projeto {
                h3 {
                    margin: 20px 0px;
                }
                .tags-projeto {
                    display: flex;
                    flex-flow: row wrap;
                    gap: 10px;
                    
                    p {
                        flex: 0 0 auto;
                        padding: 10px;
                        border: 2px solid var(--cinza-claro);
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

#botao-projetos {
    grid-column: 2;
    background-color: var(--azul-escuro);
    padding: 25px;
    margin: 40px auto 120px auto;
    border-radius: 40px;
    font-size: clamp(1.2em, 3vw, 1.6em);
    text-decoration: none;
    color: var(--cinza-claro);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.350);
}

#botao-projetos:hover {
    background-color: var(--azul-meio-escuro);
}

#botao-projetos:visited {
    text-decoration: none;
    color: var(--cinza-claro);
}

#contatos {
    background-color: var(--cinza-claro);
    #conteudo-contatos {
        grid-column: 2;
        
    }
}