@charset "UTF-8";

:root {
    --tamanho-max-1200: 1fr 80vw 1fr;
    --tamanho-max-1000: 1fr 85vw 1fr;
    --tamanho-max-470: 1fr 90vw 1fr;
}

@media screen and (max-width: 1200px) {
    #sobre-mim, #projetos, #contatos {
        grid-template-columns: var(--tamanho-max-1200);
    }
    #title-sobre-mim {
        width: 80vw;
    }
}

@media screen and (max-width: 1000px) {
    #inicio-container {
        #conteudo-inicio {
            grid-template-columns: 1fr auto 1fr;
            justify-items: center;
            #texto-inicio {
                grid-column: 2;
            }
            picture {
                grid-column: 2;
                img {
                    animation: girar 5s linear infinite;
                }
            }
        }
    }

    @keyframes girar {
        from { transform: rotate(0deg);}
        to { transform: rotate(360deg);}
    }

    #sobre-mim, #projetos, #contatos {
        grid-template-columns: var(--tamanho-max-1000);
    }

    #title-sobre-mim {
        width: 85vw;
    }
    #sobre-mim {
        #inicio-sobre-mim {
            flex-direction: column-reverse;
            grid-column: 1 / span 3;
            gap: 60px;
            #info-sobre-mim {
                margin-top: 0px;
                border-radius: 0px;
                text-align: left;
                padding: 30px 0;
                display: grid;
                max-width: none;
                grid-template-columns: var(--tamanho-max-1000);
                h3 {
                    grid-column: 2;
                }
                p {
                    grid-column: 2;
                }
                div#icones-sociais {
                    grid-column: 2;
                    justify-content: center;
                }
            }
            #stacks-sobre-mim {
                grid-column: 2;
                width: 85vw;
                flex-flow: row wrap;
                align-self: center;
            }
        } /* Fim #inicio-sobre-mim*/
    }

    #fundo-azul {
        display: none;
    }

    @media screen and (max-width: 823.8px) {
        .projeto-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    @media screen and (max-width: 704px) {
        header {
            padding: 0;
        }
        header > nav > ul{
            display: none;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 76px;
            right: 0;
            gap: 0px;
            border-top: 2px solid #ebebeb;
            p {
                border-bottom: 2px solid #ebebeb;
            }
        }
        header > nav > #menuIcone {
            display: block;
        }
        .projeto-info {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }
}

@media screen and (max-width: 470px) {
    #sobre-mim, #projetos, #contatos {
        grid-template-columns: var(--tamanho-max-470);
    }
    #title-sobre-mim {
        width: 90vw;
    }
}